

body {
	background-color: #BEDE66;
	font-family: 'Cinzel', serif;
	font-weight: normal;
	color: #BA7A30;

}

h1 {
	color: #4330BA;
	text-align: justify;
}

#slogan {
	font-style: italic;
	text-align: justify;
}