* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url("http://i.imgur.com/8shFpDt.jpg");
	background-size: cover;
	font-weight: normal;
	color: #FF0066;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}

header {
	background-repeat:no-repeat;
}
header img {
	width:8em;
}
nav {
	float:left;
	width:20%;

}
nav a {
	display:block;
	margin:1em;
	text-align:center;
	text-decoration: none;
	color: #00ABE6;
}
section {
	float:left;
	width:80%;
}
figure {
	float:left;
	padding:.5em;
	width:20%;
}
figure img {
	width:100%;
}
#slogan {
	font-style: italic;
	text-align: justify;
}
#title {
	color: #38E600;
	text-align: justify;
	font-size: 2.5em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
